.hero-shadow {
  position: relative;
  height: 1px;
  box-shadow: 0 0px 90px 30px rgb(0, 0, 0);
}

.hero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 33vw;
  min-height: 200px;
  max-height: 600px;
  overflow: hidden;
}

.hero__image {
  flex: 1 1 auto;
  width: 15%;
  min-width: 100px;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
