.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.article-row {
  width: 50%;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-row__image-container {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-row__content-container {
  width: 70%;
  & header {
    margin-bottom: 2em;
    display: flex;
    align-items: canter;

    &::before {
      content: " ";
      width: 2em;
      height: 2px;
      display: inline-block;
      margin-right: 1em;
      margin-top: 0.8em;
      background-color: var(--primary-accent-color, #286782);
    }
  }

  & p {
    margin-left: 3em;
  }
}
